#appPage .appSection,
#privacyPage .privacyArticle {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.9;

    h2 {
        margin-top: 0;
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
        margin-top: 19px;
    }

    .appLinks {
        margin-top: 16px;
    }

    .link {
        text-decoration: underline;
    }

    .app_content_wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;

        .app_content {
            display: flex;
            width: calc((100% - 5%) / 2);
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .app_icon {
                width: 94px;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 10px;
            }
        }
    }
}