@charset "UTF-8";
@use './mixins/breakpoints'as breakpoints;

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.grecaptcha-badge {
    visibility: hidden;
}

.recaptcha-note {
    margin: 15px 0 30px;
    font-size: 12px;

    a {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: rgb(190, 190, 190);
    }
}