@charset "UTF-8";
@use './mixins/breakpoints'as breakpoints;

.pc-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: opacity 0.3s, visibility 0.3s;

    &.hidden {
        // opacity: 0;
        // visibility: hidden;
        // 後で検討
        opacity: 1;
        visibility: visible;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    .contents_inner {
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7px;
    }

    .pc-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 20px;
        align-items: center;
        list-style: none;
        padding: 10px 0;
        margin: 0;

        li {
            font-size: 22px;
            line-height: 1;
        }

        a {
            position: relative;
            text-decoration: none;
            color: #333;
            padding-bottom: 3px;
            transition: color 0.3s ease-in-out;
            font-family: "Oswald",
                serif;
            font-weight: 600;

            &.active {
                color: var(--pink01);
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: var(--pink01);
                transition: width 0.3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

}

// sp版　ハンバーガーメニュー
.outerMenu {
    position: fixed;
    top: 0vh;
    right: 0;
    z-index: 200;

    .checkboxToggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 60px;
        height: 60px;
        opacity: 0;

        &:checked+.hamburger>div {
            transform: rotate(135deg);

            &:before,
            &:after {
                top: 0;
                transform: rotate(90deg);
            }

            &:after {
                opacity: 0;
            }
        }
    }

    .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 50px;
        height: 50px;
        padding: 0.5em 1em;
        background: var(--black01);
        border-radius: 0.12em;
        cursor: pointer;
        transition: box-shadow 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            position: relative;
            width: 100%;
            height: 2px;
            background: #fefefe;
            transition: all 0.4s ease;
            display: flex;
            align-items: center;
            justify-content: center;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -10px;
                left: 0;
                width: 100%;
                height: 2px;
                background: inherit;
                transition: all 0.4s ease;
            }

            &:after {
                top: 10px;
            }
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .bg {
            width: 200vw;
            height: 200vw;
            background: var(--pink02);
            border-radius: 50%;
            transform: scale(0);
            transition: all 0.4s ease;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            .inner {
                opacity: 0;
                transition: opacity 0.4s ease;
                display: flex;
                justify-content: center;
                align-items: center;

                .navList {
                    list-style: none;
                    padding: 0;

                    li {
                        margin: 1em 0;
                        font-size: 21px;
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: #fefefe;
                            transition: color 0.4s ease;
                            font-family: "Oswald",
                                serif;
                            font-weight: 600;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    .menuOpen {
        pointer-events: auto;
        visibility: visible;

        .bg {
            transform: scale(1);

            .inner {
                opacity: 1;
            }
        }
    }
}