@charset "UTF-8";
@use './mixins/breakpoints'as breakpoints;

#illustPage {


    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;

        @include breakpoints.sp {
            gap: 10px;
        }

        .list {
            width: calc((100% - (15px * 4)) / 5);
            box-sizing: border-box;
            position: relative;

            @include breakpoints.sp {
                width: calc((100% - (10px * 2)) / 3);
            }

            img {
                width: 100%;
                height: auto;
                display: block;
                cursor: pointer;
            }
        }
    }

}


/* モーダルの背景 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* モーダルが開いているとき */
.modal-overlay.open {
    opacity: 1;
    visibility: visible;
}

/* モーダルコンテンツ */
.modal-content {
    position: relative;
    background: #fff;
    padding: 20px;
    max-width: 700px;
    width: 90%;
    max-height: 90%;
    overflow: scroll;
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* モーダルが開いているときのアニメーション */
.modal-overlay.open .modal-content {
    transform: scale(1);
    opacity: 1;
}

.modal-content img {
    width: 100%;
    height: auto;
}

/* キャプション */
.caption {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

/* 閉じるボタン */
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-close img {
    width: 50px;
    height: 50px;
}

/* 「さらに表示」ボタン */
#load-more-container {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    #more-button {
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

        img {
            width: 42px;
        }
    }
}



/* レスポンシブ対応 */
@include breakpoints.sp {
    .list {
        width: calc(50% - 20px);
    }

    .modal-content {
        width: 95%;
    }
}