@charset "UTF-8";
@use './mixins/breakpoints'as breakpoints;


#KV {
    width: 100vw;
    height: 300vh;
    position: relative;
    z-index: -1;

    .topArrow {
        width: 40px;
        position: fixed;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 100;

        .inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


        .txt {
            font-size: 12px;
            letter-spacing: .08em;
            text-align: center;
            margin-bottom: 2px;
            color: white;
        }

        .arrow {
            display: block;
            margin: 0 auto;
            animation: bounceDown 1.8s ease-in-out infinite;
        }
    }

    @keyframes bounceDown {

        0%,
        100% {
            transform: translate(0%, 0%);
        }

        50% {
            transform: translate(0%, 10px);
        }
    }

    .topName {
        position: fixed;
        top: 3%;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 100;
        color: white;
        font-size: 14px;
        letter-spacing: 1em;
        width: 100%;
        text-align: center;

        @include breakpoints.sp {
            font-size: min(3.3vw, 14px);
        }
    }

    .catchCopy {
        opacity: 0;
        transform: translate(-50%, 20px);
        transition: opacity 0.8s ease, transform 0.8s ease;
        position: fixed;
        top: 23%;
        left: 50%;
        z-index: 100;
        color: white;
        font-size: 25px;
        letter-spacing: .05em;
        width: 100%;
        text-align: center;
        font-weight: bold;

        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.2),
            0 0 15px rgba(255, 255, 255, 0.2);

        &.show {
            opacity: 1;
            transform: translate(-50%, 0);
        }

        @include breakpoints.sp {
            font-size: min(6.3vw, 23px);
        }
    }


}

.canvasBoard {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.header-fadein {
    opacity: 0;
    transition: .6s;

    &.show {
        opacity: 1;
    }
}



.topBtn {
    position: fixed;
    z-index: 100;
    right: 14px;
    bottom: 14px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoints.sp {
        bottom: 73px;
    }

    .txt {
        font-size: 12px;
        color: black;
        text-align: center;

        &.arrow {
            width: 17px;
        }
    }
}


#KV.js_kv {
    opacity: 1;
    transition: opacity 1s ease;

    &.vanish {
        opacity: 0;
        pointer-events: none; // 任意（クリック無効にしたい場合）
    }
}

.kv-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-repeat: repeat-y;
}